.Base {
  height: 48vw;
  position: relative;
  top: -21vw;
}
.Base_Base {
  position: relative;
  top: -42vw;
  height: 48vw;
}
.Asset1 {
  height: 4vw;
  width: 4vw;
  position: relative;
  left: 23vw;
  top: 5vw;
  filter: blur(6px);
}
.Asset2 {
  height: 4vw;
  width: 4vw;
  position: relative;
  left: 5vw;
  top: 4vw;
  filter: blur(6px);
}
.Asset3 {
  height: 4vw;
  width: 4vw;
  position: relative;
  left: 12vw;
  top: 32vw;
  filter: blur(6px);
}
.Asset4 {
  height: 4vw;
  width: 4vw;
  position: relative;
  left: 5vw;
  top: 12vw;
  filter: blur(6px);
}
.Asset5 {
  height: 4vw;
  width: 4vw;
  position: relative;
  left: 39vw;
  top: 24vw;
  filter: blur(6px);
}
.Asset6 {
  height: 4vw;
  width: 4vw;
  position: relative;
  left: 51vw;
  top: -15vw;
  filter: blur(6px);
}
.Asset7 {
  height: 4vw;
  width: 4vw;
  position: relative;
  left: 86vw;
  top: -17vw;
  filter: blur(6px);
}
.Asset8 {
  height: 4vw;
  width: 4vw;
  position: relative;
  left: 90vw;
  top: -14vw;
  filter: blur(6px);
}
.Asset9 {
  height: 4vw;
  width: 4vw;
  position: relative;
  left: 88vw;
  top: -6vw;
  filter: blur(6px);
}
.Asset10 {
  height: 7vw;
  width: 7vw;
  position: relative;
  left: 56vw;
  top: -33vw;
  filter: blur(6px);
}
.Asset10Copy {
  height: 7vw;
  width: 7vw;
  position: relative;
  left: 77vw;
  top: -12vw;
  filter: blur(6px);
}
.Asset11 {
  height: 36vw;
  width: 36vw;
  position: relative;
  left: 45vw;
  top: -45vw;
  filter: blur(6px);
}
.Blob1 {
  position: relative;
  height: 21vw;
  width: 21vw;
  background-color: var(--ForeGroundGradientColor2);
  border-radius: 50%;
  z-index: -1;
  filter: blur(12vw);
  animation: Blob1Animation 12s linear infinite;
}
.Blob2 {
  position: relative;
  left: 72vw;
  top: 3vw;
  height: 21vw;
  width: 21vw;
  border-radius: 50%;
  background-color: var(--ForeGroundGradientColor1);
  z-index: -1;
  filter: blur(12vw);
  animation: Blob2Animation 12s linear infinite;
}
@keyframes Blob1Animation {
  0% {
    background-color: var(--ForeGroundGradientColor2);
  }
  50% {
    background-color: var(--ForeGroundGradientColor1);
  }
  100% {
    background-color: var(--ForeGroundGradientColor2);
  }
}
@keyframes Blob2Animation {
  0% {
    background-color: var(--ForeGroundGradientColor1);
  }
  50% {
    background-color: var(--ForeGroundGradientColor2);
  }
  100% {
    background-color: var(--ForeGroundGradientColor1);
  }
}
.Slogan {
  position: relative;
  top: -72vw;
  left: 12vw;
  font-size: 4vw;
  color: var(--ForeGroundGradientColor1);
}
.Slogan1 {
  position: relative;
  top: -72vw;
  left: 12vw;
  font-size: 1.9vw;
  color: rgb(255, 255, 255);
}
