.BaseContainer {
  position: relative;
  top: -20vw;
  z-index: -3;
  height: 48vw;
}
.Container {
  position: relative;
  top: -61.2vw;
  text-align: center;
}
.TrackName {
  margin-top: 5vw;
  font-size: 3vw;
}
.Player {
  margin-top: 5vw;
}
.TrackDetails {
  margin-top: 5vw;
  font-size: 1.2vw;
}
